body {
	height: auto;
	min-height: inherit;
	width: auto;
	padding: 0.5em;
}

.mdl-card__title {
	color: #FFD740;
	/* padding-bottom: 0px; */
}

.mdl-card {
	font-size: inherit;
}

.left {
	float: left;
	margin: .35em;
	/* 
		min-height: 23em;
		min-width: 26em;
	*/
	/*border:solid #f80 1px;*/
}

li label {
	color: #d50000;
}

.demo-list-radio {
	display: inline;
}
