body {
	height: auto;
	min-height: inherit;
	width: auto;
	padding: 0.5em;
}

table {
	width: 100%;
	text-align: center;
}

label {
	font-size: 16px;
}

.mdl-card__title {
	color: #FFD740;
	/* padding-bottom: 0px; */
}

.mdl-card {
	font-size: inherit;
	min-height: 22em;
	width: calc(100% - 0.35em);
	max-width: 30em;
	min-width: 20em;
}

.left {
	float: left;
	margin: .35em;
	/* 
		min-height: 23em;
		min-width: 26em;
	*/
	/*border:solid #f80 1px;*/
}

li label {
	color: #d50000;
}

.demo-list-radio {
	display: inline;
}
